---
import * as icons from "simple-icons";

const {
  iconName,
  size = 32,
  title = "Title",
  description = "Description",
} = Astro.props;

type SimpleIcon = {
  hex: string;
  path: string;
};

let icon;
if (iconName) {
  const iconKey =
    `si${iconName.charAt(0).toUpperCase()}${iconName.slice(1)}` as keyof typeof icons;
  icon = icons[iconKey] as SimpleIcon;
}
---

<li
  class="flex bg-white dark:bg-green-6 border-2 border-green-5/25 dark:border-green-1/10 rounded-md md:rounded-md w-fit py-1 px-1.5 gap-1.5 md:py-1 md:px-2 md:gap-2 items-center"
>
  <div
    class="text-green-5 dark:text-green-2 max-w-5 max-h-5 md:max-w-7 md:max-h-7 flex items-center justify-center"
  >
    {
      icon ? (
        <svg
          width={size}
          height={size}
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
        >
          <title>{title}</title>
          <path d={icon.path} />
        </svg>
      ) : (
        <slot />
      )
    }
  </div>

  <div class="flex flex-col">
    <span
      class="description text-[0.6rem] md:text-xs text-green-5 dark:text-green-2/75 leading-3"
      >{description}</span
    >
    <span class="title text-sm md:text-lg leading-4 md:leading-6">{title}</span>
  </div>
</li>
