---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import HeadingLink from "../components/HeadingLink.astro";

const { pageTitle, htmlClass, bodyClass, ...rest } = Astro.props;
const titleId = pageTitle.replace(/\s+/g, "-").toLowerCase();
---

<html lang="en" class={htmlClass} {...rest}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<script is:inline>
			document.documentElement.classList.toggle(
				"dark",
				localStorage.theme === "dark" ||
					(!("theme" in localStorage) &&
						window.matchMedia("(prefers-color-scheme: dark)").matches),
			);
		</script>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>
		<link rel="me" href="https://mastodon.social/@michaelmandic" />
		<meta name="fediverse:creator" content="@michaelmandic@mastodon.social" />
		<meta name="generator" content={Astro.generator} />
		<title>Michael Mandic</title>
	</head>
	<body class=`${bodyClass} transition-colors duration-200`>
		<div class="max-w-4xl mx-auto px-4">
			<NavBar />
			<main class="mt-30">
				<h1 class="group" id={titleId}>
					<HeadingLink idName={titleId} />
					{pageTitle}
				</h1>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
